* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "FUTURALight";
  src: url(./assets/fonts/Futura-Lig.woff) format("woff");
  font-weight: light;
}

@font-face {
  font-family: "FUTURABook";
  src: url(./assets/fonts/Futura-Boo.woff) format("woff");
  font-weight: light;
}

@font-face {
  font-family: "FUTURABold";
  src: url(./assets/fonts/Futura-Bol.woff) format("woff");
  font-weight: light;
}
@font-face {
  font-family: "Freight";
  src: url(./assets/fonts/FreightTextBook.otf) format("otf");
}
